{% extends 'base.back.html.twig' %}
{% block user %}
 <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                    <a
                            class="github-button"
                            href={{ path("app_logout") }}
                            data-icon="octicon-star"
                            data-size="large"
                            data-show-count="true"
                            aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Logout</a
                    >
                </li>
                      <li class="nav-item lh-1 me-3">
                    <a
                            class="github-button"
                            href={{ path("FrontafficheA") }}
                            data-icon="octicon-star"
                            data-size="large"
                            data-show-count="true"
                            aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >LES ABONNEMENTS</a
                    >
                </li>
{% endblock %}
{% block dashboard %}
    <li class="menu-item active">
        <a href="{{ asset ('admin/afficheAbonnement') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Gestion abonnement</div>
        </a>
        <a href="{{ asset ('admin/ajoutA') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Ajouter un abonnement</div>
        </a>
        <a href="{{ asset ('admin/afficheC') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Gestion Compt</div>
        </a>
        <a href="{{ asset ('admin/ajoutC') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Ajouter un Compte</div>
        </a>

        <li class="menu-item active">
                        <a href="{{ path('app_offre_index') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Liste Offre</div>
                        </a>
                    </li>




                    <li class="menu-item active">
                        <a href="{{ path('app_offre_new') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Ajouter Offre</div>
                        </a>
                    </li>





                    <li class="menu-item active">
                        <a href="{{ path('app_reclamation_index') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Liste Reclamation</div>
                        </a>
                    </li>




                    <li class="menu-item active">
                        <a href="{{ path('app_reclamation_new') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Ajouter Reclamation</div>
                        </a>
                    </li>
                    <li class="menu-item active">
         <a href="" class="menu-link">
             <i class="menu-icon tf-icons bx bx-home-circle"></i>
             <div data-i18n="Analytics">Gestion des évènements</div>
         </a>
     </li>
     <!-- Dashboard -->
     <li class="menu-item active">
         <a href="{{ asset ('afficheC') }}" class="menu-link">
             <i class="menu-icon tf-icons bx bx-home-circle"></i>
             <div data-i18n="Analytics">Gestion des commentaires</div>
         </a>
     </li>
     <li class="menu-item active">
         <a href="{{ asset ('afficheP') }}" class="menu-link">
             <i class="menu-icon tf-icons bx bx-home-circle"></i>
             <div data-i18n="Analytics">Gestion des participation</div>
         </a>
     </li>
    </li>
{% endblock %}
{% block content  %}
    <div class="card">
        <h5 class="card-header">CompteS</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>fullname</th>
                    <th>email</th>
                    <th>birth</th>
                    <th>country</th>
                    <th>adress</th>
                    <th>role</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr {% for a in compt %}>
                    <td> {{ a.idcompt }}</td>
                    <td> {{ a.fullname }}</td>
                    <td> {{ a.email }}</td>
                    <td> {{a.birth|date('d-m-Y')}}</td>
                    <td> {{ a.country }}</td>
                    <td> {{ a.adress }}</td>
                    <td>  {% for role in a.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_BRAND" %}
                                BRAND
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur

                            {% elseif role == "ROLE_CONTENT" %}
                            Content Creator
                            {% endif %}
                        {% endfor %}

                    </td>

                    <td> <a href="{{ path('deleteC',{'idcompt':a.idcompt}) }}"> Delete</a> <a href="{{ path('upc',{'idcompt':a.idcompt}) }}"> update</a> </td>
                </tr {% endfor %}>


                </tbody>
            </table>
        </div>
    </div>

{% endblock %}