{% extends 'base.back.html.twig' %}

{% block user %}
 <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                    <a
                            class="github-button"
                            href={{ path("app_logout") }}
                            data-icon="octicon-star"
                            data-size="large"
                            data-show-count="true"
                            aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Logout</a
                    >
                </li>

                  <li class="nav-item lh-1 me-3">
                    <a
                            class="github-button"
                            href={{ path("FrontafficheA") }}
                            data-icon="octicon-star"
                            data-size="large"
                            data-show-count="true"
                            aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >LES ABONNEMENTS</a
                    >
                </li>
 </ul>
{% endblock %}
{% block dashboard %}
    <li class="menu-item active">
        <a href="{{ asset ('admin/afficheAbonnement') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Gestion abonnement</div>
        </a>
        <a href="{{ asset ('admin/ajoutA') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Ajouter un abonnement</div>
        </a>
        <a href="{{ asset ('admin/afficheC') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Gestion Compt</div>
        </a>
        <a href="{{ asset ('admin/ajoutC') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Ajouter un Compte</div>
        </a>
         <li class="menu-item active">
                        <a href="{{ path('app_offre_index') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Liste Offre</div>
                        </a>
                    </li>




                    <li class="menu-item active">
                        <a href="{{ path('app_offre_new') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Ajouter Offre</div>
                        </a>
                    </li>





                    <li class="menu-item active">
                        <a href="{{ path('app_reclamation_index') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Liste Reclamation</div>
                        </a>
                    </li>




                    <li class="menu-item active">
                        <a href="{{ path('app_reclamation_new') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Ajouter Reclamation</div>
                        </a>
                    </li>
                    <li class="menu-item active">
         <a href="" class="menu-link">
             <i class="menu-icon tf-icons bx bx-home-circle"></i>
             <div data-i18n="Analytics">Gestion des évènements</div>
         </a>
     </li>
     <!-- Dashboard -->
     <li class="menu-item active">
         <a href="{{ asset ('afficheC') }}" class="menu-link">
             <i class="menu-icon tf-icons bx bx-home-circle"></i>
             <div data-i18n="Analytics">Gestion des commentaires</div>
         </a>
     </li>
     <li class="menu-item active">
         <a href="{{ asset ('afficheP') }}" class="menu-link">
             <i class="menu-icon tf-icons bx bx-home-circle"></i>
             <div data-i18n="Analytics">Gestion des participation</div>
         </a>
     </li>
    </li>
{% endblock %}
{% block content  %}
    <div class="card">
        <h5 class="card-header">Abonnements</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom abonnement</th>
                    <th>description</th>
                    <th>prix</th>
                    <th>image</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr {% for a in abonnement %}>
                    <td> {{ a.ida }}</td>
                    <td> {{ a.nomabonnement }}</td>
                    <td> {{ a.description }}</td>
                    <td> {{ a.price }}</td>
                    <td> <img src="{{ asset ('uploads/images/' ~ a.image) }}"  style="width:80px ; height:80px" /></td>
                    <td> <a href="{{ path('deleteA',{'ida':a.ida}) }}"> Delete</a> <a href="{{ path('updateA',{'ida':a.ida}) }}"> update</a> </td>
                </tr {% endfor %}>


                </tbody>
            </table>
        </div>
    </div>

{% endblock %}