{% extends 'base-back.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block content %}
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nomoffre</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Description</th>
                <th>IMAGE_OFFRE</th>
                <th>Couleur</th>
                <th>Typeoffre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>

                <td>{{ offre.nomoffre }}</td>
                <td>{{ offre.datedebut ? offre.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ offre.datefin ? offre.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ offre.description }}</td>
                <td><img src="{{ asset( 'uploads/'~offre.imgsrc) }} " style="width:70px;height:70px;"></td>
                <td>{{ offre.couleur }}</td>
                <td>{{ offre.typeoffre }}</td>
                <td>
                    <a href="{{ path('app_offre_show', {'idoffre': offre.idoffre}) }}">Détaillé</a>
                    <a href="{{ path('app_offre_edit', {'idoffre': offre.idoffre}) }}">Editer</a>
                    <form method="post" action="{{ path('app_offre_delete', {'idoffre': offre.idoffre}) }}" onsubmit="return confirm('Vous ete sur de supprimer cette offre?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.idoffre) }}">
                        <button class="btn">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_new') }}">Cree un offre</a>
{% endblock %}
